 #navbar{display:flex;justify-content: space-between; align-items: center oklch(70.018% 0.00912 145.884 / 0.705); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 
'Trebuchet MS', sans-serif; padding-left: 15px; padding-right: 15px;}
#logo>h1{display: inline-block; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: white}
/* #main{ width: 100%;} */
/* #left{ width: 49%; height: 400px; display: inline-block; vertical-align: middle;} */
#right{display: flex; height: 100vh; justify-content: center;align-items: center; }
#right img {width: 100%; height: auto;}
#text{order: 2px solid blue; margin: 50px 30px; height: 200px; }
/* #right> img{width: 100%;}   */
li{display: inline-block; list-style: none; margin: 10px; vertical-align: middle; color: rgb(6, 6, 6); }                   
#thr{width: 49%; margin: 10px; 0px; font-size: medium; color: black; order: 2px solid black; }
#one{width: 25%;  display: inline-block; padding: 20px; background-color:rgb(219, 231, 241);}
#two{width: 25%;display: inline-block; padding: 20px; background-color:rgb(219, 231, 241);}
#three{width:25%; display: inline-block; padding: 20px; background-color:rgb(219, 231, 241);}   
#navbar{display: flex;  flex-wrap: wrap; justify-content:space-between align-items: center; padding: 10px 40px;} 
     